In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import quandl

In [2]:
load_dotenv()

True

In [3]:
api_key_QD = os.getenv("QUANDL_API_KEY")
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# type(api_key_QD)
# type(alpaca_api_key)

str

In [7]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [18]:
# Format current date as ISO format
start_date = pd.Timestamp("2013-01-02", tz="America/New_York").isoformat()
today = pd.Timestamp("2020-11-02", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["MUB", "TLT", "UDN", "UUP","LQD","JNK"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get closing prices
df_ETFs = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = today
).df

# Preview DataFrame
# YOUR CODE HERE!
df_ETFs.head()

                             JNK                                   LQD  \
                            open   high    low  close   volume    open
2013-01-02 00:00:00-05:00  41.05  41.05  40.96  41.03  6801481  120.96
2013-01-03 00:00:00-05:00  40.95  41.03  40.89  40.94  6337005  121.14
2013-01-04 00:00:00-05:00  40.99  41.05  40.88  40.99  5081128  120.57
2013-01-07 00:00:00-05:00  40.93  41.09  40.89  41.08  5909999  120.69
2013-01-08 00:00:00-05:00  41.08  41.10  41.02  41.06  2958198  120.81

                                                             ...    UDN  \
                              high     low   close   volume  ...   open
2013-01-02 00:00:00-05:00  121.310  120.81  121.27  3392382  ...  27.28
2013-01-03 00:00:00-05:00  121.180  120.56  120.60  2871556  ...  27.08
2013-01-04 00:00:00-05:00  120.649  120.26  120.55  3998513  ...  26.90
2013-01-07 00:00:00-05:00  120.800  120.51  120.72  2471978  ...  26.94
2013-01-08 00:00:00-05:00  120.940  120.76  120.85  2138549  ...  26.99

                                                                  UUP         \
                              high     low   close    volume     open   high
2013-01-02 00:00:00-05:00  27.3099  27.150  27.180   33539.0  21.7400  21.85
2013-01-03 00:00:00-05:00  27.1000  26.950  26.960   72918.0  21.9000  22.00
2013-01-04 00:00:00-05:00  26.9700  26.890  26.950  146499.0  22.0300  22.05
2013-01-07 00:00:00-05:00  27.0400  26.932  27.040   41209.0  21.9901  22.01
2013-01-08 00:00:00-05:00  27.0100  26.961  27.005   38866.0  21.9600  21.99


                               low  close     volume
2013-01-02 00:00:00-05:00  21.7200  21.82   782706.0
2013-01-03 00:00:00-05:00  21.8873  21.99  1091846.0
2013-01-04 00:00:00-05:00  21.9800  21.99  1022712.0
2013-01-07 00:00:00-05:00  21.9200  21.93  1910335.0
2013-01-08 00:00:00-05:00  21.9500  21.95  1134138.0

[5 rows x 30 columns]

In [19]:
# Output the data to CSV
df_ETFs.to_csv(r'C:\Users\antiz\Desktop\FintechBC\Project1\ETFs.csv', encoding='utf-8', index=True)

In [7]:
USTREASURY_data = quandl.get('USTREASURY/YIELD', start_date='2013-01-01', end_date='2020-11-06',authtoken=api_key_QD)
USTREASURY_data.head()

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR
Date,,,,,,,,,,,,
2013-01-02,0.07,NaN,0.08,0.12,0.15,0.27,0.37,0.76,1.25,1.86,2.63,3.04
2013-01-03,0.06,NaN,0.08,0.12,0.15,0.27,0.40,0.81,1.31,1.92,2.70,3.12
2013-01-04,0.06,NaN,0.07,0.11,0.15,0.27,0.41,0.82,1.32,1.93,2.70,3.10
2013-01-07,0.05,NaN,0.07,0.11,0.15,0.27,0.41,0.82,1.31,1.92,2.70,3.10
2013-01-08,0.06,NaN,0.07,0.11,0.14,0.25,0.38,0.79,1.28,1.89,2.66,3.06

In [8]:
USTREASURY_data.to_csv(r'C:\Users\antiz\Desktop\FintechBC\Project1\USTREASURY.csv', encoding='utf-8', index=True)